---
import NavMenuItem from "@/layouts/components/global/header/MenuItem.astro";
import { useTranslations } from "@/lib/utils/i18nUtils.ts";
import { getHeaderMenu } from "@/lib/utils/menu";
import Button from "@/components/Button.astro";

interface Props {
  isMobile?: boolean;
  [key: string]: any;
}

import config from ".astro/config.generated.json";
const t = await useTranslations(Astro.currentLocale as string);
const main = getHeaderMenu(t);

const {
  isMobile,
  class: ClassName,
  navigationButton = config.settings.navigationButton,
} = Astro.props;
---

<ul
  id="nav-menu"
  class:list={["navbar", isMobile && "navbar-mobile", ClassName]}
  role="menu">
  {main.map((menu) => <NavMenuItem isMobile={isMobile} menu={menu} />)}
  {/* Navigation Button For Small Devices */}
  {
    navigationButton.enable && (
      <li class="max-lg:pt-2 lg:hidden" role="menuitem">
        <Button
          hoverEffect="creative-fill"
          {...navigationButton}
          label={t("navigation.buttonLabel")}
        />
      </li>
    )
  }
</ul>
