---
import type { Section } from "@/types";
import BlogCard from "@/layouts/components/cards/BlogCard.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import { markdownify } from "@/lib/utils/textConverter";
import { getCollectionCTM } from "@/lib/contentParser.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import type { CollectionEntry } from "astro:content";
import type { sharedButton } from "@/sections.schema";
import type { z } from "astro/zod";

import config from ".astro/config.generated.json";
import Button from "../Button.astro";
const blogFolder = config.settings.blogFolder as "blog";

// Type for this section data
export type blogInterface = Section & {
  button?: z.infer<typeof sharedButton>;
  options?: CollectionEntry<"blog">["data"]["options"];
};

type Props = {
  content?: blogInterface;
  hasSectionSpacing?: boolean;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "blog-section", Astro.currentLocale)
)?.data as blogInterface;

// Merges custom content overrides (e.g., just a title) with defaultContent fallbacks. Enables easy section reuse across pages with partial data changes.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as blogInterface;

// Extracting required values from 'content' object
let { enable = true, title, button, options } = actualContent as blogInterface;

let posts = await getCollectionCTM(blogFolder, Astro.currentLocale);

// Sort posts by date
posts = sortByDate(posts);

// Limit the number of items to be displayed
posts =
  options?.limit && posts ? posts.slice(0, options?.limit as number) : posts;

const { hasSectionSpacing = true } = Astro.props;
const hasActionButton = Boolean(button?.enable && options?.limit);

if (!enable) {
  return null;
}
---

<section class:list={[!hasSectionSpacing && "pt-0"]}>
  <div class="container space-y-12">
    <div
      class="flex flex-col items-start gap-8 md:flex-row md:items-end md:justify-between"
      data-scroll-reveal="blur-up">
      {title && <h2 class="max-w-2xl" set:html={markdownify(title)} />}
      {button && hasActionButton && <Button {...button} />}
    </div>
    <div class="grid gap-x-6 gap-y-10 md:grid-cols-2 xl:grid-cols-3">
      {
        posts?.map((post, index) => (
          <div
            data-scroll-reveal="fade-up"
            data-scroll-reveal-delay={index * 90}>
            <BlogCard content={post} options={options} />
          </div>
        ))
      }
    </div>
  </div>
</section>
