---
import { getCollectionCTM } from "@/lib/contentParser.astro";
import { getLocaleUrlCTM, useTranslations } from "@/lib/utils/i18nUtils.ts";
import type { CollectionEntry } from "astro:content";
import extractSlug from "@/lib/utils/extractSlug";
import Icons from "@/helpers/Icons.astro";
import { plainify } from "@/lib/utils/textConverter";

interface Props {
  prevBtnText?: string;
  collection?: string;
  nextBtnText?: string;
  currentPage?: CollectionEntry<"blog">;
  class?: string;
}

const t = await useTranslations(Astro.currentLocale as string);

let {
  prevBtnText = t("common.paginationPrevious"),
  nextBtnText = t("common.paginationNext"),
  collection,
  currentPage,
  class: className,
} = Astro.props;

let pages;
if (collection) {
  pages = await getCollectionCTM(
    collection as "blog",
    Astro.currentLocale,
  );
}

if (!pages) return;

const currentIndex = pages.findIndex(
  (item) => item.filePath === currentPage?.filePath,
);

// if (import.meta.env.DEV) console.log("Current page index:", currentIndex);

if (currentIndex === -1) {
  return;
}

const prevPage = pages[currentIndex - 1];
const nextPage = pages[currentIndex + 1];
---

<nav
  id="pagination"
  class:list={[
    "grid w-full grid-cols-1 gap-4 font-normal md:grid-cols-2",
    className,
  ]}
  aria-label={t("aria.pagination")}>
  {/* previous */}
  {
    prevPage && (
      <a
        href={getLocaleUrlCTM(
          extractSlug(prevPage),
          Astro.currentLocale,
          collection,
        )}
        class="group flex items-center gap-4 transition duration-300">
        <span class="bg-theme-light group-hover:bg-primary flex size-12 shrink-0 items-center justify-center rounded-sm transition duration-300 group-hover:text-white">
          <Icons icon="MoveLeft" class="size-5" />
        </span>
        <div class="space-y-2">
          <span class="block text-sm">{prevBtnText}</span>
          <span
            class="text-dark group-hover:text-primary block text-base font-semibold"
            set:html={plainify(prevPage.data.title)}
          />
        </div>
      </a>
    )
  }

  {/* next page */}
  {
    nextPage && (
      <a
        href={getLocaleUrlCTM(
          extractSlug(nextPage),
          Astro.currentLocale,
          collection,
        )}
        class="group flex items-center justify-end gap-8 text-end transition duration-300 md:col-start-2">
        <div class="space-y-2">
          <span class="block text-sm">{nextBtnText}</span>
          <span
            class="text-dark group-hover:text-primary block text-base font-semibold"
            set:html={plainify(nextPage.data.title)}
          />
        </div>
        <span class="bg-theme-light group-hover:bg-primary flex size-12 shrink-0 items-center justify-center rounded-sm transition duration-300 group-hover:text-white">
          <Icons icon="MoveRight" class="size-5" />
        </span>
      </a>
    )
  }
</nav>
