---
import type { TocHeading } from "@/types";
import type { MarkdownHeading } from "astro";
const { toc } = Astro.props;
---

{
  toc && (
    <ol>
      {toc.map((heading: MarkdownHeading & TocHeading) => (
        <li>
          <a href={`#${heading.slug}`}>{heading.text}</a>
          {heading.subheadings.length > 0 && (
            <Astro.self toc={heading.subheadings} />
          )}
        </li>
      ))}
    </ol>
  )
}
