---
import { getCollectionCTM } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { getLocaleUrlCTM, useTranslations } from "@/lib/utils/i18nUtils.ts";
import { humanize } from "@/lib/utils/textConverter";

interface Tag {
  name: string;
  slug: string;
  count: number;
}

interface Props {
  class?: string;
}

import config from ".astro/config.generated.json";
const posts = await getCollectionCTM(
  config.settings.blogFolder as "blog",
  Astro.currentLocale,
);

let tags = (await getTaxonomy(
  config.settings.blogFolder as "blog",
  "tags",
  Astro.currentLocale as string,
)) as Tag[];

tags = tags.map((tag) => {
  const count = posts.filter((post) =>
    post.data.tags?.includes(tag.name),
  ).length;

  const slug = getLocaleUrlCTM(
    tag.slug,
    Astro.currentLocale,
    `/${config.settings.blogFolder}/tag`,
  );

  return {
    ...tag,
    count,
    slug,
  };
});

const t = await useTranslations(Astro.currentLocale as string);

// Sort tags by count
tags = tags.sort((a, b) => b.count - a.count);
---

{
  tags && tags.length > 0 && (
    <div class="bg-theme-light rounded-2xl p-6 md:p-8">
      <h2 class="text-h5-sm md:text-h5 mb-6">{t("widgets.tagsTitle")}</h2>
      <div class="flex flex-wrap gap-3">
        {tags.map((tag) => (
          <a
            href={tag.slug}
            title={`Filter posts by ${tag.name}`}
            class="text-dark hover:bg-primary inline-block rounded-md bg-white px-5 py-3 text-sm font-medium capitalize transition hover:text-white">
            {humanize(tag.name)}
          </a>
        ))}
      </div>
    </div>
  )
}
